@{
    ViewBag.Title = "List All Jobs By SR Number";
}

<link href="~/Scripts/jtable/themes/lightcolor/blue/jtable.css" rel="stylesheet" />



<style type="text/css">
    #SRLogTableContainer {
        width: 99%;
        display: block;
        overflow-x: auto;
    }
</style>


<div id="SRLogTableContainer" style="border:1px solid #c6c3c3;">

</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var fields = {
                Id: {
                    key: true,
                    list: false
                }
            };
            $.ajax({
                url: '@Url.Action("GetAllSRLogColumns")',
                async: false,
                type: "POST",
                dataType: "json",
                success: function (fielddata) {
                    $.each(fielddata, function (i, item) {
                        if (item.fieldname == "CreationDate" || item.fieldname == "QuoteDue" || item.fieldname == "JobWalkDate" || item.fieldname == "QuoteDate" || item.fieldname == "QuoteTime" || item.fieldname == "AdvertiseDate") {
                            fields[item.fieldname] =
                                {
                                    title: item.displayname,
                                    type: 'date',
                                    displayFormat: 'mm/dd/yy',
                                    width: item.width
                                };
                        }
                        else if (item.fieldname == "JobOrQuote") {
                            fields[item.fieldname] =
                                {
                                    title: item.displayname,
                                    width: item.width,
                                    display: function (data) {
                                        if (data.record.JobOrQuote == 1) {
                                            return 'Job';
                                        }
                                        else {
                                            return 'Quote';
                                        }
                                    }
                                };
                        }
                        else {
                            fields[item.fieldname] =
                                {
                                    title: item.displayname,
                                    width: item.width                                    
                                };
                        }
                    });
                },
                error: function (xhr) {
                    alert(xhr);
                    alert('Error occured');
                }
            });

            $("#SRLogTableContainer").jtable({
                paging: true, //Enable paging
                pageSize: 6, //Set page size (default: 10)
                sorting: false, //Enable sorting
                columnResizable: true,
                columnSelectable: false,
                //saveUserPreferences: false,
                actions:
                    {
                        listAction: '@Url.Action("GetSRLogsList")'
                    },
                fields: fields
            });
            $("#SRLogTableContainer").jtable('load');
        });
    </script>
}
